<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>HR Dashboard</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="login-box">

<img src="/static/logo.png" class="logo">

<h1>RS Technologies</h1>
<h3>HR AI Recruitment Agent</h3>

<hr>

<!-- Hidden File Input -->
<input
    type="file"
    id="resumeFiles"
    multiple
    accept=".pdf,.doc,.docx"
    style="display:none"
    onchange="uploadResumes(this.files)">

<button onclick="document.getElementById('resumeFiles').click()">
📤 Upload Resumes
</button>

<button onclick="location.href='/top-candidates'">
👥 Top Candidates
</button>

<button onclick="location.href='/dashboard'">
📊 Dashboard
</button>

<button onclick="window.location='/export-excel'">
📄 Export Excel
</button>

<button onclick="logout()">
🚪 Logout
</button>

</div>

<script>

const token = localStorage.getItem("token");

if(!token){
    window.location.href="/";
}

function logout(){
    localStorage.removeItem("token");
    window.location.href="/";
}

async function uploadResumes(files){

    const formData = new FormData();

    for(let i=0;i<files.length;i++){
        formData.append("files", files[i]);
    }

    const response = await fetch("/upload-resumes",{
        method:"POST",
        body:formData
    });

    const result = await response.json();

    alert(result.message);
}

</script>

</body>

</html>